<ion-app>
  <ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-menu-button auto-hide="false"></ion-menu-button>
      </ion-buttons>
      <ion-title>Etudiant</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-menu content-id="main-content">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item ><ion-button [routerLink]="['/accueil']"> Accueil</ion-button> </ion-item>
        <ion-item ><ion-button [routerLink]="['/propos']">A propos</ion-button></ion-item>
        <ion-item ><ion-button [routerLink]="['/etudiant']">Les étudiant</ion-button></ion-item>
        <ion-item ><ion-button [routerLink]="['/matiere']">Les Matières</ion-button></ion-item>
        <ion-item ><ion-button [routerLink]="['/contact']">Contact</ion-button></ion-item>
        <ion-item ><ion-button [routerLink]="['/login']">Déconnexion</ion-button></ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>

  <ion-router-outlet id="main-content"></ion-router-outlet>

  <ion-content>
    <div class="etudiant-page">
      <h1>Liste des Étudiants</h1>
      <ion-grid>
        <ion-row>
          <ion-col size="4" class="header-cell">Nom</ion-col>
          <ion-col size="4" class="header-cell">Date de Naissance</ion-col>
          <ion-col size="4" class="header-cell">Téléphone</ion-col>
        </ion-row>
        <ion-row *ngFor="let etudiant of etudiants">
          <ion-col size="4">{{ etudiant.nom }}</ion-col>
          <ion-col size="4">{{ etudiant.dateNaissance }}</ion-col>
          <ion-col size="4">{{ etudiant.telephone }}</ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </ion-content>
</ion-app>
