<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Liste des Etudiants</ion-title>
  </ion-toolbar>
</ion-header>

<ion-menu content-id="main-content">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item ><ion-button [routerLink]="['/accueil']"> Accueil</ion-button> </ion-item>
      <ion-item ><ion-button [routerLink]="['/etudiant']">Les étudiant</ion-button></ion-item>
      <ion-item ><ion-button>Les Matières</ion-button></ion-item>
      <ion-item ><ion-button [routerLink]="['/login']">Déconnexion</ion-button></ion-item>
    </ion-list>
  </ion-content>
</ion-menu>
<ion-router-outlet id="main-content"></ion-router-outlet>

<ion-content [fullscreen]="true">
  <<div class="dashboard">
    <div class="main-content">
      <div class="header">
        <h1>------</h1>
        <ion-button>----</ion-button>
      </div>
      <div class="stats">
        <div class="stat">
          <h3>-------</h3>
          <p>--------</p>
        </div>
        <div class="stat">
          <h3>-------</h3>
          <p>---------</p>
        </div>
        <div class="stat">
          <h3>----------</h3>
          <p>-----------</p>
        </div>
        <div class="stat">
          <h3>----------</h3>
          <p>-----------</p>
        </div>
      </div>
    </div>
  </div>
</ion-content>
