<ion-app>
  <ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-menu-button auto-hide="false"></ion-menu-button>
      </ion-buttons>
      <ion-title> A Propos</ion-title>
    </ion-toolbar>
  </ion-header>
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">propos</ion-title>
    </ion-toolbar>
  </ion-header>

</ion-content>
<ion-app>
  <ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-menu-button auto-hide="false"></ion-menu-button>
      </ion-buttons>
      <ion-title>Accueil</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-menu content-id="main-content">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item ><ion-button [routerLink]="['/accueil']"> Accueil</ion-button> </ion-item>
        <ion-item ><ion-button [routerLink]="['/propos']">A propos</ion-button></ion-item>
        <ion-item ><ion-button [routerLink]="['/etudiant']">Les étudiant</ion-button></ion-item>
        <ion-item ><ion-button [routerLink]="['/matiere']">Les Matières</ion-button></ion-item>
        <ion-item ><ion-button [routerLink]="['/contact']">Contact</ion-button></ion-item>
        <ion-item ><ion-button [routerLink]="['/login']">Déconnexion</ion-button></ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>

  <ion-router-outlet id="main-content"></ion-router-outlet>

  <ion-content>
    <div class="propos-page">
      <h1>À propos de l'ISIMED</h1>
      <p>
        Crée en 2006, en vertu du décret numéro 1587-2006 du 06 Juin 2006, l’Institut supérieur d’informatique de Médenine a pour mission de former des étudiants capables de concevoir et de réaliser des projets en informatique conformément aux besoins des utilisateurs et des entreprises.
      </p>
      
        Il comporte deux départements :
        <ul>
          <li>Le département de l’informatique industrielle</li>
          <li>Le département de l’informatique et multimédia</li>
        </ul>
        <img src="\assets\icon\logo2.jpg" alt="ISIMED Image" class="responsive-image" />
        <img src="\assets\icon\logo1.jpg" alt="ISIMED Image" class="responsive-image" />

    </div>
  </ion-content>
</ion-app>

