<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>propos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">propos</ion-title>
    </ion-toolbar>
  </ion-header>
  <p>Crée en 2006, en vertu du décret numéro 1587-2006 du 06 Juin 2006, l’institut supérieur d’informatique de Médenine a pour mission de former des étudiants capables de concevoir et de réaliser des projets en informatique conformément aux besoins des utilisateurs et des entreprises. Il comporte deux départements :
    Le département de l’informatique industrielle
    Le département de l’informatique et multimédia
    Doté des équipements de pointe pour la professionnalisation ; les laboratoires au sein de l’institut permet aux étudiants d’acquérir des connaissances plus pratiques et de se spécialiser dans des domaines bien précis.</p>
</ion-content>
