<ion-header>
  <ion-toolbar>
    <ion-title>I S I  M E D  - 3 SI</ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content class="auth-form">
  <ion-grid class="ion-padding ion-text-center">
    <ion-row>
      <ion-col align-self-center>
        <div class="title">
          <h2>Bienvenue à l’Université Supérieure d’Informatique de Médenine</h2>
          <p>L'université est un champ où l'on sème des savoirs. Celui qui laboure avec persévérance voit ses récoltes nourrir sa vie entière.</p>
        </div>
        <img src="\assets\isimed.jpg" alt="ISIMED Image" class="responsive-image" />
    <ion-button [routerLink]="['/login']" expand="block">
      <ion-label>Connexion</ion-label>
    </ion-button>
    <span class="divider line one-line" style="font-size: 20px; color: aqua">ou</span>
    <ion-button [routerLink]="['/signup']" fill="clear" style="color: blueviolet;">
      Inscription
    </ion-button>
  </ion-col>
  </ion-row>
  </ion-grid>
</ion-content>