<ion-app>
  <ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-menu-button auto-hide="false"></ion-menu-button>
      </ion-buttons>
      <ion-title>Accueil</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-menu content-id="main-content">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item ><ion-button [routerLink]="['/accueil']"> Accueil</ion-button> </ion-item>
        <ion-item ><ion-button [routerLink]="['/propos']">A propos</ion-button></ion-item>
        <ion-item ><ion-button [routerLink]="['/etudiant']">Les étudiant</ion-button></ion-item>
        <ion-item ><ion-button [routerLink]="['/matiere']">Les Matières</ion-button></ion-item>
        <ion-item ><ion-button [routerLink]="['/contact']">Contact</ion-button></ion-item>
        <ion-item ><ion-button [routerLink]="['/login']">Déconnexion</ion-button></ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>

  <ion-router-outlet id="main-content"></ion-router-outlet>

  <ion-content>
    <div class="dashboard">
      <div class="main-content">
        <div class="header">
          <h1 style="color: rgb(146, 146, 243);">Bienvenu , ici vous pouvez trouver les actualités</h1>
        </div>
        <div class="stats">
          <div class="stat">
            <h3>News 1</h3>
            <p>nouveau emploi de temps le 13-09-2024</p>
            <ion-button>Voir de détail</ion-button>
          </div>
          <div class="stat">
            <h3>News 2</h3>
            <p>hackathon de IA le 19-02-2025</p>
            <ion-button>Voir de détail</ion-button>
          </div>
          <div class="stat">
            <h3>News 3</h3>
            <p>Examen Ds tp a partir de  13-12-2024</p>
            <ion-button>Voir de détail</ion-button>
          </div>
          <div class="stat">
            <h3>News 4</h3>
            <p>Examen Ds  le 18-10-2024</p>
            <ion-button>Voir de détail</ion-button>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-app>
